body {
    background: #f2f2f2;
    text-align: center;
    direction: rtl;
    font-family: Arial;
    padding: 30px;
}

h1 {
    color: #6a1b9a;
}

p {
    font-size: 18px;
    color: #333;
}

button {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 15px;
    font-size: 18px;
    background: #6a1b9a;
    color: white;
    border: none;
    border-radius: 10px;
}